:root{
  --black:#343434;
  --yellow:#FFBB55;
  --bg-white: #FAF6ED;
  --orange-titles:#EE5544;
}
/* JS */
.js [data-tab="content"] section{
  display:none;
}

 [data-tab="content"] section.ativo {
  display: block !important;
  /* animation: show .5s forwards; */
}

[data-tab="content"] section.ativo.show-right {
  animation: showRight .5s forwards;
}
[data-tab="content"] section.ativo.show-down {
  animation: showDown .5s forwards;
}

@keyframes showRight {
  from {
    opacity: 0;
    transform:translate3d(-16px,0,0);
  }
  to {
    opacity: 1;
    transform:translate3d(0,0,0);
  }
}

@keyframes showDown {
  from {
    opacity: 0;
    transform:translate3d(0,-16px,0);
  }
  to {
    opacity: 1;
    transform:translate3d(0,0,0);
  }
}

.js [data-accordion="list"] dd{
  display: none;
}

.js [data-accordion="list"] dd.ativo{
  display: block !important;
  animation: accordionList .5s forwards;
}

.js [data-accordion="list"] dt::after{
  content:'⬎';
  margin-left: .2rem;
}

.js [data-accordion="list"] dt.ativo::after{
  content:'⬏';
}

@keyframes accordionList {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 100px;
  }
}

[data-anime="scroll"]{
  opacity: 0;
}
[data-anime="scroll"].ativo{
  animation: showRight .3s forwards;
}
/* JS END */

.maior {
  font-size: 150%;
}

img {
  display: block;
  width: 100%;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

ul {
  list-style-type: none
}

h1, h2, h3, dt, a {
  color: var(--black);
  font-family: IBM Plex Mono,monospace,sans-serif;
}

p {
  color: var(--black);
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: var(--bg-white);

}

.body-container {
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px,800px)  1fr;
}

.menu {
  grid-column: 3/5;
  background: var(--yellow);
  padding: 1.2rem;
  margin: 2rem 0;
}
.menu ul {
  display: flex;
  flex-wrap: wrap;
}

.menu ul li {
  margin-right: 0.5rem;
}

.menu ul li a {
  letter-spacing: .1rem;
  font-size:1rem;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

.grid-section {
  padding: 3rem 0;
  grid-column: 2/4;
  display: grid;
  grid-template-columns: 90px 300px 1fr;
  column-gap: 1rem;
  margin-top: 1rem;
}

.titulo {
  font-family: 'Playfair Display SC', georgia;
  font-size: 6rem;
  grid-column: 1/4;
  margin-bottom: 2rem;
  line-height: 100%;
}

.animais-lista {
  grid-column: 2;
  overflow-y: scroll;
  height: 380px;
}

.animais-lista li {
  cursor: pointer;
}

.animais-descricao {
  grid-column: 3;
}



.animais-descricao section h2::before{
  content: '';
  display: inline-block;
  height: .6rem;
  width: 2.5rem;
  margin-right:.8rem ;
  /* margin-bottom: ; */
  background-color: var(--yellow);

}

.animais-descricao section h2 {
  color: var(--orange-titles);
  font-size: 1rem;
  letter-spacing: .1rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.animais-descricao section p {
  margin-bottom: 1.5rem;
  line-height: 1.2rem;
}

.faq .faq-lista {
  grid-column: 2/4;
  padding: 3rem 0;
}

.faq .faq-lista dt::before{
  content: '';
  display: inline-block;
  height: .6rem;
  width: 1.5rem;
  margin-right:.8rem ;
  background-color: var(--yellow);
}

.faq .faq-lista dt{
  cursor: pointer;
  color: var(--orange-titles);
  font-size: 1rem;
  font-weight: bold;
  margin-top:  1.5rem;
  margin-bottom: .3rem;
}

.faq .faq-lista dd {
  font-size: 1.1rem;
  padding-left: 2.3rem;

}

.faq .faq-lista dd:last-child {
  margin-bottom: 0;
}

.contato .mapa {
  grid-column: 2;
  margin-left: 1rem;
}

.contato .dados li::before{
  content: '';
  display: inline-block;
  height: .6rem;
  width: 1.5rem;
  margin-right:.8rem ;
  background-color: var(--yellow);
}

.contato .dados li{
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.copy {
  grid-column: 3/5;
  background-color: var(--yellow);
  padding: 1.2rem;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.copy p {
  font-family: IBM Plex Mono,monospace,sans-serif;
  font-weight: bold;
}

@media (max-width: 700px){
  .body-container{
    grid-template-columns: 1fr;
  }

  .menu , .grid-section , .copy {
    grid-column: 1;
  }
  
  .grid-section{
    grid-template-columns: 100px 1fr;
    padding: 0 1rem;
  }
  
  .faq .faq-lista,.contato .mapa,.contato .dados, .titulo {
    grid-column: 1/3;
  }

  .menu {
    margin-top: 0;
  }

  .menu ul li {
    padding: .5rem 0;
  }

  .titulo {
    font-size: 3rem
  }

  .animais-lista {
    grid-column: 1;
    height: 140px
  }

  .animais-descricao {
    grid-column: 2;
  }

  .contato .dados {
    justify-self: center;
    margin-top: 2rem;
  }

  .copy {
    margin: 0;
  }
}